# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
indent_size = 4

[*.{csproj}]
indent_size = 2